$primary: #1974AB;
$secondary: #F68634;
$secondary-2: #000D2C;

$primary-light: #F1F8FD; //#EEF9FF;
$secondary-light: #FFFAF7;

// $grey: #EFEFEF;
$grey: #f6f6f6;
$grey-2: #CCCCCC;
$grey-3: #8D9091;

$shadow: #FBFBFB;

//utility colors
$white: #fff;
$red: red;
$green: green;
$dark: #1B2124;
$blue: #4D9EE0;